

body{
  margin:0;
  padding: 0;
  border: 0;
  background-color: #66bfbf;
}



header img{
	float: left;
	padding:10px ;
  padding-left: 47rem;
}
nav{
  padding-left: 45rem;
}
nav a{
	color: #fff;
	text-decoration: none;
	font-size: 40px;
  font-family: 'Architects Daughter', cursive;
}
nav ul{
	display:flex;
  list-style:none;

}
nav li{
	padding-right: 50px;
}
nav h2{
  font-size: 2.5rem;
}

h1{
  font-family: 'Architects Daughter', cursive;
  font-size: 562.5%;
}
h2{
  font-family: 'Architects Daughter', cursive;
  color: #eee;
  text-align: center;
  margin: 0;
}

h3{
  background-color: #66bfbf;
  font-family: 'Architects Daughter', cursive;
  color: blue;
}
hr{
  border-style: dotted;
  width: 10%;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top-width: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.pro{
  text-decoration: underline;
  color: black;
  font-size: 2.5rem;
}

.top-container{
  position: relative;
  padding-top: 100px;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}
.top-container h1{
  margin: 0;
}

.middle-container p{
  background-color: #66bfbf;
  font-family: 'Architects Daughter', cursive;
  padding: 1em 7em 1em 7em;
  width: 70%;
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
}
.middle-container{
  font-size: 4rem;
}


.contact-me{
  text-align: center;
  font-size: 3rem;
}
.contact-me p{
  font-size: 1rem;
}
@media(max-width: 768px){
  header {
    padding: 0;
    text-align: center;
  }
  header img{
    float: none;
    padding: 10px 0 0 0;
    width: 200px
  }
  nav{
    padding: 0;
    text-align: center;
  }
  nav ul{
    text-align: center;
    padding: 6rem;
  }
  nav il{
    text-align: center;
    padding: 0;
  }
  .middle-container p{
    padding: 3em;
    text-align: center;
  }
  #title{
    padding-top:1px;
  }
}
